<footer class="site-footer">
  {{ if or (site.GetPage "/layouts/partials/terms.md") (site.GetPage "/layouts/partials/privacy.md") }}
  <p class="powered-by">
    {{ with site.GetPage "/layouts/partials/privacy.md" }}
      {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
    {{ end }}
    {{ with site.GetPage "/layouts/partials/terms.md" }}
      {{ if site.GetPage "/layouts/partials/privacy.md" }} &middot; {{ end }}
      {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
    {{ end }}
  </p>
  {{ end }}
  
  <p class="powered-by">
    {{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}}{{ end }}
  </p>

  {{/* Display copyright license. */}}
  {{ partial "site_footer_license" . }}
  
</footer>
